body {
  font-family: system-ui;
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(#e4e0ba, #f7d9aa);
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
